<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title>{{ name }}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="" rel="stylesheet">
  <link rel="icon" href="http://www.jd.com/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="http://static.360buyimg.com/finance/mobile/base/cm/1.0.0/reset.css" />
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>